<div class="movie-poster-container">
<img class="full-width" ng-src="{{'https://image.tmdb.org/t/p/w300_and_h450_bestv1/' + result.poster_path}}" ng-click="clickPoster()" ng-mouseover="hoverPoster()">
<div ng-show="showCover" ng-mouseleave="unhoverCover()" class="movie-poster-cover" ng-click="clickCover()">
    <p class="right mouse-change" style="float:right" ng-if="!isFavorite" 
        ng-click="favoriteMovie(result); $event.stopPropagation();">
        <span title="Save to Favorites" class="glyphicon glyphicon-heart-empty"></span>
    </p>
    <p class="right mouse-change" style="float:right" ng-if="isFavorite" 
        ng-click="unfavoriteMovie(result); $event.stopPropagation();">
        <span title="Remove from Favorites" class="glyphicon glyphicon-heart"></span>
    </p>
    <h2>{{result.title}} ({{result.release_date | date: 'yyyy'}})</h2>
    <p>{{result.overview | overview:300}}</p>
    
    <div class="bottom full-width" style="padding-bottom:40px">
        <p>
        <div ng-if="result.rateMovie_averageRating > 0">Average Rating: {{result.rateMovie_averageRating | number: 1}} Stars</div>
        <div ng-if="!result.rateMovie_averageRating">No user ratings yet</div>
        <span ng-click="rateMovie(result, 1); $event.stopPropagation();">
            <span ng-show="result.rateMovie_userRating < 1" class="glyphicon glyphicon-star-empty"></span>
            <span ng-show="result.rateMovie_userRating >= 1" class="glyphicon glyphicon-star"></span>
        </span>
        <span ng-click="rateMovie(result, 2); $event.stopPropagation();">
            <span ng-show="result.rateMovie_userRating < 2" class="glyphicon glyphicon-star-empty"></span>
            <span ng-show="result.rateMovie_userRating >= 2" class="glyphicon glyphicon-star"></span>
        </span>
        <span ng-click="rateMovie(result, 3); $event.stopPropagation();">
            <span ng-show="result.rateMovie_userRating < 3" class="glyphicon glyphicon-star-empty"></span>
            <span ng-show="result.rateMovie_userRating >= 3" class="glyphicon glyphicon-star"></span>
        </span>
        <span ng-click="rateMovie(result, 4); $event.stopPropagation();">
            <span ng-show="result.rateMovie_userRating < 4" class="glyphicon glyphicon-star-empty"></span>
            <span ng-show="result.rateMovie_userRating >= 4" class="glyphicon glyphicon-star"></span>
        </span>
        <span ng-click="rateMovie(result, 5); $event.stopPropagation();">
            <span ng-show="result.rateMovie_userRating < 5" class="glyphicon glyphicon-star-empty"></span>
            <span ng-show="result.rateMovie_userRating >= 5" class="glyphicon glyphicon-star"></span>
        </span>

        </p>
        
    </div>
    <p class="bottom left mouse-change" ng-repeat="source in (result.sources.purchase_web_sources) | sourceFilter: ['youtube_purchase']" >
    <a href="{{source.link}}" target="_blank"><span ng-click="$event.stopPropagation();" title="Watch Trailer"class="glyphicon glyphicon-film"></span></a>
    </p>
    <p class="bottom right mouse-change" ng-click="findSimilarMovies(result.id); $event.stopPropagation();"><span title="find similar movie"class="glyphicon glyphicon-search"></span></p>
</div>
</div>

<div class="row streaming-sources-container">
<a class="col-xs-3 col-sm-3 col-md-3 col-lg-3" href="{{source.link}}" ng-repeat="source in (result.sources.subscription_web_sources) | sourceFilter: allSources" target="_blank"><img ng-src="{{('public/img/' + source.source + '_m_img.jpg')}}"></a>
<a class="col-xs-3 col-sm-3 col-md-3 col-lg-3" href="{{source.link}}" ng-repeat="source in (result.sources.purchase_web_sources) | sourceFilter: allSources" target="_blank"><img ng-src="{{('public/img/' + source.source + '_m_img.jpg')}}"></a>
</div>
