<div class="movie-poster-container">
<img class="full-width" ng-src="{{'https://image.tmdb.org/t/p/w300_and_h450_bestv1/' + result.poster_path}}" ng-click="clickPoster()" ng-mouseover="hoverPoster()">
<div ng-show="showCover" ng-mouseleave="unhoverCover()" class="movie-poster-cover">
    <h3 style="margin:-5px"><span class="hidden-xl hidden-lg glyphicon glyphicon-remove-circle float-right" ng-click="clickCover()"></span></h3>
    <h2>{{result.title}} ({{result.release_date | date: 'yyyy'}})</h2>
    <p>{{result.overview | overview:300}}</p>
    
    <div class="bottom full-width" style="padding-bottom:40px">
    Rate Movie
    <div class="rating mouse-change">
        <span ng-click="rateMovie(result, 5)">☆</span>
        <span ng-click="rateMovie(result, 4)">☆</span>
        <span ng-click="rateMovie(result, 3)">☆</span>
        <span ng-click="rateMovie(result, 2)">☆</span>
        <span ng-click="rateMovie(result, 1)">☆</span>
    </div>

    <p ng-if="result.rateMovie_averageRating > 0">Average Rating: {{result.rateMovie_averageRating | number: 1}} / 5 Stars</p>
    </div>
    <p class="bottom left mouse-change" ng-repeat="source in (result.sources.purchase_web_sources) | sourceFilter: ['youtube_purchase']" >
    <a href="{{source.link}}" target="_blank"><span class="glyphicon glyphicon-film"></span> watch trailer</a>
    </p>
    <p class="bottom right mouse-change" ng-click="findSimilarMovies(result.id)"><span class="glyphicon glyphicon-search"></span> find similar</p>
</div>
</div>

<div class="row streaming-sources-container">
<a class="col-xs-3 col-sm-3 col-md-3 col-lg-3" href="{{source.link}}" ng-repeat="source in (result.sources.subscription_web_sources) | sourceFilter: allSources" target="_blank"><img ng-src="{{('public/img/' + source.source + '_m_img.jpg')}}"></a>
<a class="col-xs-3 col-sm-3 col-md-3 col-lg-3" href="{{source.link}}" ng-repeat="source in (result.sources.purchase_web_sources) | sourceFilter: allSources" target="_blank"><img ng-src="{{('public/img/' + source.source + '_m_img.jpg')}}"></a>
</div>
